* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #ffffff;
}

/* CENTER */
.login-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.login-card {
  width: 360px;
  background: #fff;
  padding: 40px 35px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

/* LOGO */
.logo {
  color: #4F46E5 ;
  font-weight: bold;
  font-size: 18px;
    text-align: center;
  margin-bottom: 20px;
}

/* TEXT */
.welcome {
  font-size: 13px;
  text-align: center;
  color: #9ca3af;
  margin: 0;
}
h2{
    text-align: center;
}

.login-card h2 {
  margin: 5px 0 25px;
  font-size: 26px;
  color: #111827;
}

/* FORM */
label {
  font-size: 13px;
  color: #6b7280;
}

input {
  width: 100%;
  padding: 14px;
  margin: 8px 0 18px;
  border-radius: 10px;
  border: none;
  background: #4e46e51f ;
  font-size: 14px;
  outline: none;
}

input::placeholder {
  color: #9ca3af;
}

/* PASSWORD ROW */
.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-row a {
  font-size: 12px;
  color: #9ca3af;
  text-decoration: none;
}

.password-row a:hover {
  text-decoration: underline;
}

/* BUTTON */
.login-btn {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: #4F46E5 ;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.login-btn:hover {
  background: #a846e5 ;
}

/* BOTTOM */
.signup-text {
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
  color: #9ca3af;
}

.signup-text a {
  color:#4F46E5 ;
  text-decoration: none;
  font-weight: 600;
}
